*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;

}
.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: auto;
    height: 500px;

}
.login h2{
    font-size: 4rem;
    font-weight: 700;
}
.inp{
height: 50px;
width: 70% ;
border: 2px solid black;
border-radius: 60px;

}
.btn1{
    width: 50%;
    height: 50px;
    border: none;
    border-radius:60px ;
    font-weight: 600;
    background: rgb(197, 10, 10);
    color: white;
}
.btn1:hover{
    background-color: black;
    transition: 0.5s;
}
